/* Header container */
.header {
    background-color: black;
    position: sticky;
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}


/* Logo styling */
.logo {
    height: 21vmin;
    width: 21vmin;
    margin-left: 11%;
}

/* Button container */
.sl-container {
    display: flex;
    align-items: center;
}

/* Button styles */
.sl-button {
    background-color: black;
    color: lightblue;
    border: 2px solid lightblue;
    border-radius: 3px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: large;
    margin-inline: 10px;
}

/* end of header components */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: yellow;
  padding: 10px;
  text-align: center;
  height: 25px;
}
/* end of footer components */

.homeimg {
  height: 71vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

.homeimg img {
  max-width: 100%;
  max-height: 150%;
  object-fit: cover;
  margin-top: 3%;
}

.home-btn {
  background: fixed;
  color: lightblue;
  border: 2px solid lightblue;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: large;
}

.home-header {
  text-align: center;
  font-size: 75px;
  color: lightblue;
}
/* end of home */

.errorimg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  position: fixed;
  max-width: 100%;
  max-height: 90%;
}

.errorimg img {
  object-fit: contain;
  background-color: black;
}
/* end of error */

.apt-index {
  background-color: black;
  color: lightblue;
  padding: 5%;
  align-content: center
}